.bloc-info{
    background-image: url("../../../assets/images/overlay.jpg");
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center;
}

.bloc-info-txt{
    background-color: rgb(0, 0, 0);
    opacity: 0.95;
}

.bloc-img{
    background-color: rgb(10, 10, 10);
}

.image-gallery {
  height: auto;

}