@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
.img-presentation {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%; /* Default height */
}
  
.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dispo-overlay{
    opacity: 0.6;
}

.vendu-overlay{
    background-color: rgb(109, 4, 4);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.swiper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after  {
    font-size: 15px;
    color: black
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after
{
    font-size: 15px;
    color: black
}   

.swiper-button-prev, .swiper-button-next {
    height:35px;
    width:35px;
    opacity: 0.7;
    background-color: white;
    border : 1px solid white;
    border-radius: 50%;
    color: gray;
}


.swiper-pagination-bullet-active {
    background: red;
}